body, html {
  margin: 0;
  padding: 0;
  background-color: black; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  background-color: black;
  color: white; }

#game, #login {
  width: 800px;
  margin: auto;
  text-align: center;
  min-height: 500px; }

header, footer, .messages {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  height: 100px; }

footer {
  height: 50px; }

.hidden {
  display: none; }
